.publicity-container-0{
    margin-top: 2rem;
}

.publicity-container-0 .publicity-box-0{
    width: 500px;
    margin: 0 auto;
    box-shadow:  9px 9px 18px #9b9b9b,
    -9px -9px 18px #ffffff;
    border-radius: 10px;
}
.publicity-container-0 .publicity-box-0 .publicity-item-0{
  display: flex;
  padding: 15px;
  box-shadow:  4px 4px 10px #9b9b9b,
  -4px -4px 10px #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}
.publicity-box-0 .publicity-item-0 .profile-picture-0 img{
    width: 50px;
    border-radius: 50%;
}
.publicity-box-0 .publicity-item-0 .user-name-0{
    align-self: center;
}

.publicity-box-0 .publicity-item-0 .user-name-0 a{
    text-decoration: none;
  
}
.publicity-box-0 .publicity-item-0 .user-name-0 span{
    color: rgb(70, 66, 66);
    padding: 10px;
}
.publicity-box-0 .publicity-item-0 .publicity-change-0{
  position: absolute;
  right: 15px;
  align-self: center;
  padding: 8px 13px;
  border: 1px solid rgb(102, 98, 98);
  border-radius: 30px;
}

.publicity-box-0 .publicity-item-0 .publicity-change-0 .publicity-work-0{
   position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-gap: 5px; */
}
.publicity-box-0 .publicity-item-0 .publicity-change-0 .publicity-work-0 span{
    cursor: pointer;
}

.publicity-box-0 .publicity-item-0 .publicity-change-0 .publicity-work-0 .publicity-icon-0 ion-icon{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 20px;
    text-align: center;
}
@media (max-width:500px){
    .publicity-container-0 .publicity-box-0{
        width: 95%;
    }
    .publicity-container-0 .publicity-box-0 .publicity-item-0{
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 15px;
        
      }
      .publicity-box-0 .publicity-item-0 .profile-picture-0 img{
          width: 35px;
          border-radius: 50%;
      }
      
      .publicity-box-0 .publicity-item-0 .user-name-0 span{
          font-size: 13px;
      }
      .publicity-box-0 .publicity-item-0 .publicity-change-0{
        padding: 7px 12px;
        border-radius: 30px;
      }
      
      .publicity-box-0 .publicity-item-0 .publicity-change-0 .publicity-work-0{
         position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* grid-gap: 5px; */
      }
      .publicity-box-0 .publicity-item-0 .publicity-change-0 .publicity-work-0 span{
         font-size: 11px;
      }
      
      .publicity-box-0 .publicity-item-0 .publicity-change-0 .publicity-work-0 .publicity-icon-0 ion-icon{
          position: absolute;
          right: 2px;
          top: 2px;
          font-size: 14px;
          text-align: center;
      }
}